/.vs
/.vs
/x64
/.vs
/x64
/Zappy42
/Client/x64
/Core/x64
/Server/x64
/Monitor/.vs

# Artefactos de compilacion Linux (Docker)
/.build/
/server
/client
/Tests/GetOpt/server
/Tests/GetOpt/client
/Tests/Validators/server
